* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {	
	font-family: sans-serif;
}

.box {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	text-align: center;
	background: url("../images/login.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.box .form {
	width: 30%;
	background: #999;
	opacity: 0.7;
	padding: 1.5rem;
	border-radius: 10px;
	transition: all 1s ease;
	margin-right: 10%;
}

.box .form:hover {
	opacity: 0.9;
}

.box .form input:focus {
	background: #000;
	color: #fff;
	transition: all 1s ease;
}

.box .form form .textbox input {
	border-radius: 10px;
	padding: 0.3rem;
}

.box .form form .textbox {
	margin: 1rem;
}

.box .form form button {
	display: inline-block;
	padding: 0.5rem;
	margin: 1rem;
	font-weight: bold;
	color: #000;
	background: #fff;
	border-radius: 10px;
}

.box .form form button.small{
	padding: 0.2rem;
	margin: 0.5rem;
}



/*========FOR NOTES CREATION LOG=============*/
#canvas-body {
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	background: #000;
}

#canvas-body div#nav {
	display: flex;
	justify-content: space-around;
	margin: 1rem 0;
}

#canvas-body div#nav span{
	color: #fff;
}

#canvas-body div#nav button, #canvas-body div#nav select {
	margin: 0 2rem;
	padding: 0 0.5rem;
	border-radius: 10px;
	font-weight: bold;
}

#logged_user {
	font-size: 2rem;
}

#canvas button {
	margin-top: 1rem;
	padding: 0.3rem;
	display: block;
}